
body, html{
  margin: 0;
  padding: 0;
  top:0;
  
}
body{
  background-color:$pink;
}

.header_list{
  list-style-type: none;
}

.nav_btn_color{
  
  color: $purple;
}

.main_left{
  float:left;
  
}

.main_right{
  float:right;
 
}

.nav_marg{
  margin-top: 10px;
  margin-bottom: 10px;
}

.shadow{
  
  -webkit-box-shadow: 0 8px 6px -6px $gray;
  -moz-box-shadow: 0 8px 6px -6px $gray;
  box-shadow: 0 8px 6px -6px $gray;
 
}

.menu-btn:hover,
.menu-btn:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
